
h2 {
  font-size: 50px;
  margin-top: 100px;
  margin-left: 10%;
}

.two-col {
  display: flex;
}

.half {
  width: 50%;
}

.smol {
  width: 20%;
}

.padding-top--medium {
  padding-top: 40px;
}
